.auth-outer
  .auth-inner
    form#login(name='auth' method='POST' action='/login')
      h3.auth(text-align='center') Authorisation
      p
        | Email:
        br
        input#login(type='text' size='20' name='email' required)
      p
        | Password:
        br
        input#login(type='password' name='password' cols='20' rows='1' required)
      p(align='center')
        input(type='submit' value='Login')
      p
        if message
          h4(style="color:coral;" align="center") #{message}