doctype html
html(lang="en")
  include includes/head.pug
  body
    h1 Welcome to Blog!
    ul
      each article in articles
        li #{article.title} 
          a(href=article.id) Читать
    div 
      a(href="create") Создать 
    div 
      a(href="client/all") Клиенты
    