div
  p
    a#admin-title User tools:
  p
    a#admin(href=`/`) Monitor
  p
    a#admin(href=`/workpost/workpoststatus`) Work posts
  p
    a#admin(href=`/client/all`) Clients
  p
    a.menu#admin(href=`/order/all`) Orders
  p
    a.menu#admin(href=`/car/all`) Cars

div
    p
      a#admin-title Admin tools: 
    p
      a#admin(href=`/order/admin/orders`) Orders
    p
      a#admin(href='/client/admin/clients') Clients
    p
      a#admin(href='/car/admin/cars') Cars
    p
      a#admin(href=`/user`) Users
    p
      a#admin(href='/carmodel') Cars directory
    p
      a#admin(href=`/job`) Jobs directory
div
    p
      a#admin-title PGres tools:
    p   
      a#admin(href='/pgmonitor') Monitor  
    p   
      a#admin(href='/pgworkpost') Work Posts   
    p   
      a#admin(href='/pgclient/clients') Clients
    p   
      a#admin(href='/pgcar/cars') Cars 
    p   
      a#admin(href='/pgorder') Orders  
    p   
      a#admin(href='/pgjob') Job Directory 
    p   
      a#admin(href='/pgcarmodel') Car Directory   
      