div
  p
    a#admin-title User tools:
  p
    a#admin(href=`/`) Monitor
  p
    a#admin(href=`/workpost/workpoststatus`) Work posts
  p
    a#admin(href=`/client/all`) Clients
  p
    a.menu#admin(href=`/order/all`) Orders

div
    p
      a#admin-title Admin tools: 
    p
      a#admin(href=`/order/admin/orders`) Orders
    p
      a#admin(href='/client/admin/clients') Clients
    p     
      a#admin Work posts
    p
      a#admin(href='/car/cars') Cars
    p
      a#admin(href='/carmodel') Cars directory
    p
      a#admin(href=`/job`) Jobs directory
    p
      a#admin(href=`/users`) Users
      