div
  p
    a#admin-title User tools:
  p
    a#admin(href=`/`) Monitor
  p
    a#admin(href=`/workpost/workpoststatus`) Work posts
  p
    a#admin(href=`/client/all`) Clients
  p
    a.menu#admin(href=`/order/all`) Orders

div
    p
      a#admin-title Admin tools: 
    p
      a#admin Orders
    p
      a#admin Clients
    p     
      a#admin Workposts
    p
      a#admin Cars
    p
      a#admin Jobs
    p
      a#admin Users
      