div
  p
    a#admin-title User tools:
  p
    a#admin(href='/pgmonitor') Monitor 
  p
    a#admin(href='/pgworkpost') Work Posts 
  p
    a#admin(href='/pgclient') Clients
  p
    a#admin(href='/pgorder') Orders
  p
    a#admin(href='/pgcar') Cars 

div
    p
      a#admin-title PGres tools:  
    p   
      a#admin(href='/pgclient') Clients
    p   
      a#admin(href='/pgcar') Cars 
    p   
      a#admin(href='/pgorder') Orders
    p   
      a#admin(href='/pguser') Users  
    p   
      a#admin(href='/pgjob') Job Directory 
    p   
      a#admin(href='/pgcarmodel') Car Directory   
      