div
      form(method="POST" action="/pgjob/newcategory")
        div(style='padding-left: 0px')
          input(style='padding-left: 0px' type="text" name="name" required)
        button(type="submit") Add